{{>layout/header}}

<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">경력 및 학력사항</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">경력</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" target="_blank"
                       href="https://drive.google.com/file/d/1QX2B-rda1vVvxwbQst51ScAMiRm6MZ4F/view?usp=drive_link">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        이력서 Download</a>
                </div>
                <!-- 올스테이 경력 Card -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">20.09 - 22.12</div>
                                    <div class="small fw-bolder">올스테이</div>
                                    <div class="small text-muted">사원</div>
                                    <div class="small text-muted">본사 근무</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>올스테이에서 운영하는 올스테이앱 백엔드 개발 및 서비스 API 운영 및 신규 기능 개발</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 티페이 경력 Card -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">18.11 - 20.05</div>
                                    <div class="small fw-bolder">티페이</div>
                                    <div class="small text-muted">과장</div>
                                    <div class="small text-muted">본사 근무</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>티페이에서 운영하는 국수나무(프랜차이즈) 매출 관리 시스템 개발 및 서비스 유저를 위한 서비스 운영 및 신규 기능 개발</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 양재미디어 경력 Card -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">15.05 - 18.07</div>
                                    <div class="small fw-bolder">양재미디어</div>
                                    <div class="small text-muted">대리</div>
                                    <div class="small text-muted">파견 근무</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>신문사에서 사용할 CMS 솔루션 기능 개발 및 CMS 부가기능 개발</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 와이즈넛 경력 Card -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">12.09 - 14.12</div>
                                    <div class="small fw-bolder">와이즈넛</div>
                                    <div class="small text-muted">사원</div>
                                    <div class="small text-muted">파견 근무</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>와이즈넛 검색엔진(SF-1)을 이용한 통합 검색 서비스 개발</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 미람 S&C 경력 Card -->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">09.04 - 12.06</div>
                                    <div class="small fw-bolder">미람 S&C</div>
                                    <div class="small text-muted">사원</div>
                                    <div class="small text-muted">파견 근무</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>고객사 SI 업무 수행, 와이즈넛 검색엔진 통합 검색 서비스 개발</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 학력 Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">학력</h2>
                <!-- 학력 Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2007 - 2009</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">진주 산업대학교</div>
                                        <div class="small text-muted">경남 진주</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">컴퓨터공학과</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2006 - 2006</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">IT 전문가교육 과정</div>
                                        <div class="small text-muted">경남 진주</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">IT 전문가 교육</div>
                                        <div class="small text-muted">8개월 교육 과정</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2001 - 2007</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">진주연암공업전문대학</div>
                                        <div class="small text-muted">경남 진주</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">컴퓨터공학과</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">개발 범위</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Back-End Development</div></div>
                            </div>
                            <!--<div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Software Suite</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
                            </div>-->
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">보유 스킬</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SpringBoot</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SF-1(와이즈넛)</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Mybatis</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Jpa</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Redis</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MySql</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MsSql</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Oracle</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Jenkins</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">GitHub</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Svn</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JQuery</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Vue.js</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Angular1.x</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Tiles</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Sitemesh</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{{>layout/footer}}